*{
  margin: 0;
  padding: 0;
}

#searchInput {
  height: 40px;
  width: 350px;
  font-size: 18px;
  margin: 30px 0 30px 10px;
  padding-left: 5px;
}

.search-box {
  position: relative;
  display: inline-block;
}

img.img-search {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7px;
  top: 37px;
}

img {
  width: 100px;
  height: 100px;
  display: block;
}

.user-name, 
.user-age,
.user-img {
  vertical-align: bottom;
  display: inline-block;
  height: 100px;
}

.user-row {
  border: 1px solid blue;
}

.user-name {
  width: 200px;
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  padding-left: 10px;
}

.user-age {
  width: 60px;
  padding-left: 10px;
}

.user-row {
  margin: 3px 3px 3px 10px ;
  line-height: 100px;
  width: 420px;
  font-size: 25px;
}